.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
.gitignore
analysen/*
livedaten/*
livedaten-backup/*
algorithmwatch/*
ltwhe.log
ltwhe_success.log
ltwhe_crash.log
obwahl.log
obwahl_success.log
projekt
kandidaten
livedaten
R/Vorbereitung